{% extends 'base.html.twig' %}

{% block title %}Commentaire > Creation{% endblock %}

{% block body %}
    <h1>Créer un commentaire</h1>
    <div class="row">
        <div class="col-12 col-md-8">
            {{ include('admin/commentaire/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
    </div>
{% endblock %}
