{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h3 class="mb-3 font-weight-normal text-center">Inscris toi !</h3>
    {{ form(form) }}
{% endblock %}
