{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="col-12 col-sm-8 offset-sm-2">
    <br>
    <h3 class="mb-3 font-weight-normal text-center">Inscris toi !</h3>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button class="btn btn-large btn-block btn-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
    <br>
    <div class="text-center m">
        <a class="text-dark" href="/login">Déjà un compte ? Connectes toi !</a>
    </div>
</div>
{% endblock %}
