{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Inscris toi !</h1>
    {{ form(form) }}
{% endblock %}
