{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- CATEGORIES -->
    <div id="list-categories" class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            {% for cat in categories|sort((a, b) => a.libelle <=> b.libelle) %}
                <a class="p-2 font-weight-bold" href="{{ path('categorie_show', {'id': cat.id}) }}">
                    {{ cat.libelle }}
                </a>
            {% endfor %}
        </nav>
    </div>
    <!-- ARTICLES -->
    <div class="row mb-2" id="home-articles">
        {{ include('article/_articles.html.twig', {'articles' : articles, 'container': '#home-articles'}) }}
    </div>
    <div class="articles-pagination">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}