{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- CATEGORIES -->
    {{ include('categorie/_categories.html.twig', {'categories' : categories}) }}
    <!-- ARTICLES -->
    <div class="row mb-2" id="home-articles">
        {{ include('article/_articles.html.twig', {'articles' : articles, 'container': '#home-articles'}) }}
    </div>
    <div class="articles-pagination">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}