{% extends 'base.html.twig' %}

{% block title %}Mes Informations{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
