$font-family: "Playfair Display", Georgia, "Times New Roman", serif;
$font-black: #000;

.blog-header-logo {
	font-family: $font-family;
	font-size: 2.25rem;
}

.blog-header {
	#user-picto {
		&.nav-link:hover {
			text-decoration: none;
		}

		&:after {
			display: none;
		}
	}
}

.bloc-article {
	position: relative;
	.card {
		height: 330px;
	}

}

.add-favori {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #f5d907;
	background-color: white;
	padding: 10px;
	border-radius: 100%;
	&:hover {
		cursor: pointer;
		background-color: #E0E0E0;
	}
}

.remove-favori {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #f5d907;
	background-color: white;
	padding: 10px;
	border-radius: 100%;
	&:hover {
		cursor: pointer;
		background-color: #E0E0E0;
	}

}

#list-categories {
	a {
		color: $font-black;
	}

	margin: 20px auto;
}

.nav-link {
	color: $font-black;
	&:hover {
		color: #3e3e3e;
		text-decoration: underline;
	}

}

#profil-message {
	margin: 1em auto;
}

.tab-pane {
	h2 {
		margin: 1em auto;
	}

}

.blog-footer {
	.footer-links {
		a {
			color: #999 !important;
		}

	}

}