.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.bloc-article {
    position: relative;
}

.add-favori,
.remove-favori {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;
    background-color: white;
    padding: 10px;
    border-radius: 100%;
}

.add-favori:hover,
.remove-favori:hover {
    cursor: pointer;
    background-color: #E0E0E0;
}

#list-categories a {
    color: #000;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #3e3e3e;
    text-decoration: underline;
}

#profil-message {
    margin: 1em auto;
}

#list-categories {
    margin: 20px auto;
}

.bloc-article .card {
    height: 330px;
}

.tab-pane h2 {
    margin: 1em auto;
}