<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - MyNews</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/css/layout.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="main-nav">
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path('home') }}">Home</a></li>
                {% if app.user %}
                    <li><a href="badges.html">Mon Profil</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">Connexion</a></li>
                    <li><a href="{{ path('register') }}">Inscription</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
