{% extends 'admin.base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Créer un article</h1>
    <div class="row">
        <div class="col-12 col-md-8">
            {{ include('admin/article/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    tinymce.init({
    selector: '#article_contenu'
    });
</script>
{% endblock %}
