{% extends 'admin.base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Modifier un article</h1>
    <div class="col-12 col-md-8">
        {{ include('article/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>


    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
