{% extends 'admin.base.html.twig' %}

{% block title %}Utilisateur > Création{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Créer un utilisateur</h1>
    <div class="row">
        <div class="col-12 col-md-8">
            {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
    </div>
{% endblock %}
